<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHashiba.HtmlMailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SHashiba.HtmlMailSender.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ClusterSize" serializeAs="String">
                <value>3</value>
            </setting>
        </SHashiba.HtmlMailSender.Properties.Settings>
    </applicationSettings>
</configuration>